body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  padding-top: 20px;
}

.photo-card {
  box-shadow: 0px 0px 10px #999;
  height: fit-content;
  margin-bottom: 20px;
  margin-left: 20px;
}

.photo-card img {
  width: 300px;
  min-height: 200px;
}

.photo-card .crop {
  max-width: 300px;
  max-height: 200px;
  overflow: hidden;
}

.photo-card .caption {
  background-color: white;
  padding: 20px;
  font-weight: bold;
}
